<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author.first_name }} {{ author.last_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #author-wall {
            padding: 20px;
        }
        #author-image {
            max-width: 200px;
            height: auto;
        }
        .book-image {
            max-width: 125px;
            height: auto;
        }
        .book-item {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container" id="author-wall">
        <div class="row">
            <div class="col-md-4">
                <div id="author-general-info">
                    <h1 class="display-4">{{ author.first_name }} {{ author.last_name }}</h1>
                    <img id="author-image" src="{{ author.image }}" alt="Zdjęcie {{ author.first_name }} {{ author.last_name }}" class="img-fluid mb-3">
                    <ul class="list-unstyled">
                        <li><strong>Narodowość:</strong> {{ author.nationality }}</li>
                        <li><strong>Data urodzenia:</strong> {{ author.birth_date }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div id="author-work">
                    <ol class="list-group">
                        {% for book in author_books %}
                            <li class="list-group-item book-item">
                                <h5 class="mb-1">{{ book.title }}</h5>
                                <img src="{{ book.image }}" alt="Zdjęcie {{ book.title }}" class="book-image float-left mr-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <ul class="list-unstyled">
                                        <li><strong>Gatunek:</strong> {{ book.genre }}</li>
                                        <li><strong>Data publikacji:</strong> {{ book.publish_date }}</li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
